.App {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  background-color: #282c34;
}
.container {
  border: 1px solid grey;
  height: 80vh;
  padding: 20px;
  font-size: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.todoForm {
  display: flex;
  justify-content: space-around;
  width: 450px;
}
.input {
  width: 80%;
  padding: 10px;
  border-radius: 20px;
  border: none;
}
button {
  padding: 10px;
  border-radius: 20px;
  border: none;
  margin: 0 5px;
}

.allTodos {
  list-style: none;
  margin: 0;
  padding: 0;
}
.singleTodo {
  margin: 10px 0;
  background-color: #5dadf8;
  padding: 10px 20px;
  border-radius: 50px;
  width: 400px;
  display: flex;
  align-items: center;
}
.todoText {
  flex: 1;
}
